@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h2>@ViewBag.Message</h2>

<h3>Prototyp wypożyczalni rowerów miejskich, wykonany na zaliczenie przedmiotu Języki baz danych.</h3>
<h4>Aplikacja pozwala:</h4>
<p>-Dodawać/usuwać i edytować klientów</p>
<p>-Dodawać/usuwać i edytować pracowników</p>
<p>-Dodawać/usuwać i edytować Rowery</p>
<p>-Dodawać/usuwać i edytować wypożyczenia klientów</p>
<p>-Dodawać/usuwać i edytować serwis rowerów</p>
<p>-Dodawać/usuwać i edytować stan rowerów </p>
<p>-Dodawać/usuwać i edytować funkcje pracowników</p>
