@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h2>@ViewBag.Message</h2>

<address>
    Patryk Staroń<br />
    3 rok informatyki<br />
    Specjalizacja: Technologie internetowe i bazy danych<br />
</address>
