@{
    ViewBag.Title = "Rowery Miejskie";
}

<div class="jumbotron">
    <h1>Wypożyczalnia Rowerów Miejskich</h1>
    <img src="@Url.Content("~/Content/images/Rower.jpg")" alt="Rower Miejski"/>
</div>
