@model Projekt_Rower_Miejski.Stan_roweru

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Czy na pewno chcesz usunąć klienta?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa stanu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa_stanu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
